/* REGOLE GENERALI */
body {
    background:linear-gradient(to bottom, #009688 10%,#d7dbd7 0%);
    height: 100vh;
}

img {
    width: 100%;
    display: block;
}

.bg-grey {
    background-color: #eaeaea;
}

/* CONTAINER */
.big-container {
    width: calc(100% - 200px);
    height: calc(100% - 30px);
    background-color: white;
    border: 1px solid black;
}

.box-30 {
    width: 30%;
}

.box-70 {
    width: 70%;
}

.box-img {
    width: 50px;
    height: 50px;
}

/* SLIDE BAR */
.box-30 > div {
    width: 100%;
}

.user {
    width: 100%;
    padding: 10px 5px;
}

.box-img img {
    border-radius: 100%;
}

.user-icon i {
    padding: 0px 15px;
}

/* NOTIFICATION */
.notifications {
    background-color: #8edafc;
    padding: 10px;
}

.notifications .box-img {
    background-color: white;
    border-radius: 100%;
    text-align: center;
    line-height: 50px;
    color: #8edafc;
}

/* SEARCH BAR */
.search-bar input {
    width: calc(100% - 80px);
    padding: 10px 0px;
}

/* BUTTON */
.search-bar button {
    padding: 10px 30px;
}

/* USER LIST */
.user-list {
    overflow-y: scroll;
    background-color: white;
    height: calc(100% - 190px);
}

/* box-70 chat message */
.chat-message{
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

.bar-message {
    padding: 15px 5px;
}

.bar-message  .message-text {
    flex-grow: 1;
}

.bar-message input {
    width: 100%;
    padding: 10px 0px;
}

.bar-message i {
    padding: 10px 30px;
}
