/* REGOLE GENERALI */
@import "var-color.css";

body {
    background: var(--body_color);
    height: 100vh;
}


p {
    margin: 0;
}

img {
    width: 100%;
    display: block;
}

/* Color */
.bg-user {
    background-color: var(--user_select) 
}

.bg-send-mess {
    background-color: var(--send_message);
}

.bg-rec-mess{
    background-color: var(--received_message);
}

/* CONTAINER */
.big-container {
    width: calc(100% - 200px);
    height: calc(100% - 30px);
    background-color: var(--main_containerz);
    border: 1px solid var(--color_black);
}

.box-30 {
    width: 30%;
}

.box-70 {
    width: 70%;
}

.box-img {
    width: 50px;
    height: 50px;
}

/* SLIDE BAR */
.box-30 > div {
    width: 100%;
}

.box-img img {
    border-radius: 100%;
}

.user-icon i {
    padding: 0px 15px;
}

/* NOTIFICATION */
.notifications {
    background-color: var(--bg_notification);
    padding: 10px;
}

.notifications .box-img {
    background-color: var(--bg_logo_notification);
    border-radius: 100%;
    text-align: center;
    line-height: 50px;
    color: var(--color_logo);
}

/* SEARCH BAR */
.search-bar {
    background-color: var(--search_bar);
}

.search-bar input {
    width: calc(100% - 80px);
    padding: 10px 0px;
}

/* BUTTON */
.search-bar button {
    padding: 10px 30px;
}

/* USER LIST */
.user-list {
    overflow-y: scroll;
    background-color: var(--bg_user_list);
    height: calc(100% - 196px);
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 5px;
}

/* BOX-70 CHAT MESSAGE */
.container-chat {
    width: calc(100% - 200px);
    height: calc(100% - 80px);
}

.chat-message {
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

.user-message {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    width: 350px;
}

/* BAR MESSAGE */
.bar-message {
    padding: 15px 5px;
}

.bar-message  .message-text {
    flex-grow: 1;
}

.bar-message input {
    width: 100%;
    padding: 10px 0px;
}

.bar-message i {
    padding: 10px 30px;
}

/* DROPDOWN */
.dropdown button {
    border-radius: 10px;
}

.dropdown small {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 10;
}

.dropdown-hover {
    display: inline-block;
    background-color: transparent;
    color: var(--dropdown-text);
    cursor:pointer;
    border: none;
}

.dropdown-menu {
    position: absolute;
    display: none;
    top:20%;
    right: 10px;
    min-width: 120px;
    background: var(--dropdown-bg);
    box-shadow: 0 3px 2px rgba(0,0,0,0.3);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    border: none;
    border-top: solid 1px #e0e0e0;
}

.dropdown-menu a:hover {
    background-color: var(--dropdown-hover-bg);
    color: var(--dropdown-hover);
}