/* REGOLE GENERALI */
body {
    background:linear-gradient(to bottom, #009688 10%,#d7dbd7 0%);
    height: 100vh;
}


p {
    margin: 0;
}

img {
    width: 100%;
    display: block;
}

.bg-grey {
    background-color: #eaeaea;
}

.bg-green {
    background-color: #d5f9ba;
}

/* CONTAINER */
.big-container {
    width: calc(100% - 200px);
    height: calc(100% - 30px);
    background-color: white;
    border: 1px solid black;
}

.box-30 {
    width: 30%;
}

.box-70 {
    width: 70%;
}

.box-img {
    width: 50px;
    height: 50px;
}

.container-chat {
    width: calc(100% - 80px);
    height: calc(100% - 80px);
}

/* SLIDE BAR */
.box-30 > div {
    width: 100%;
}

.box-img img {
    border-radius: 100%;
}

.user-icon i {
    padding: 0px 15px;
}

/* NOTIFICATION */
.notifications {
    background-color: #8edafc;
    padding: 10px;
}

.notifications .box-img {
    background-color: white;
    border-radius: 100%;
    text-align: center;
    line-height: 50px;
    color: #8edafc;
}

/* SEARCH BAR */
.search-bar input {
    width: calc(100% - 80px);
    padding: 10px 0px;
}

/* BUTTON */
.search-bar button {
    padding: 10px 30px;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 5px;
}


/* USER LIST */
.user-list {
    overflow-y: scroll;
    background-color: white;
    height: calc(100% - 196px);
}

/* BOX-70 CHAT MESSAGE */
.chat-message {
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

.message-sent {
    padding: 15px;
    margin: 10px;
    margin-left: 600px;
    border-radius: 10px;
}

.message-sent small {
    font-size: 10px;
}

.message-received {
    padding: 10px 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    margin-right: 600px;
}

/* BAR MESSAGE */
.bar-message {
    padding: 15px 5px;
}

.bar-message  .message-text {
    flex-grow: 1;
}

.bar-message input {
    width: 100%;
    padding: 10px 0px;
}

.bar-message i {
    padding: 10px 30px;
}

/* dropdown */
.dropdown button {
    border-radius: 10px;
}
.dropdown small {
    display: block;
}
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 10;
}
.dropdown-hover {
    display: inline-block;
    padding: 10px;
    background-color: transparent;
    color: black;
    cursor:pointer;
    border: none;
}
.dropdown-menu {
    position: absolute;
    display: none;
    top:20%;
    right: 10px;
    min-width: 120px;
    background: white;
    box-shadow: 0 3px 2px rgba(0,0,0,0.3);
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border: none;
    border-top: solid 1px #e0e0e0;
}
.dropdown-menu a:hover {
    background-color: #f0f0f0;
    color: #323b40;
}