<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Vue Boolzapp</title>

        <!-- Font-awesome -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

        <!-- cdn luxon -->
        <script src="https://cdn.jsdelivr.net/npm/luxon@3.2.1/build/global/luxon.min.js"></script>

        <!-- Style CSS -->
        <link rel="stylesheet" href="css/style.css"> 

        <!-- VueJS -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    </head>

    <body class="d-flex justify-content-center align-items-center">
        <!-- Creato contenitore VueJS -->
        <div id="app" class="big-container d-flex">
            <!-- User-list e search-user -->
            <div class="box-30">
                <!-- nav bar e user -->
                <div class="user d-flex align-items-center justify-content-between bg-user border-end">
                    <div class="user-slot d-flex align-items-center">
                        <div class="box-img">
                            <img src="img/avatar_2.jpg" alt="user-img">
                        </div>
                        <div class="user-name">
                            <p>Sergio</p>
                        </div>
                    </div>   

                    <div class="user-icon d-flex align-items-center justify-content-end">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- Notification -->
                <div class="notifications d-flex align-items-center">
                    <div class="box-img">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="inf-text ps-2">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="#">Attiva notifiche desktop</a> 
                    </div>
                </div>
                <!-- Search users bar -->
                <div class="search-bar p-1">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input type="text" v-model="searchName">
                </div>

                <!-- user list generata con v-for più v-show per ricerca chat -->
                <div class="user-list">
                    <div class="user" v-for="(contact, index) in contacts" @click="userSelector(index)" v-show="filterList(contact)" :class="{'bg-user' : index === active}">  <!--Da chiedere ad Alessio la questione d-flex-->
                    
                        <div class="user-slot d-flex align-items-center">
                            <div class="box-img">
                                <img :src="`img/avatar${contact.avatar}.jpg`" alt="user-img">
                            </div>
                            <div class="user-name ">
                                <p>{{contact.name}}</p>
                                <small>{{lastMessage(contacts[index]).message}}</small>
                            </div>
                        </div>    
                        <div class="date text-end">
                            <small>12.00</small>
                        </div>
                    </div>
 
                </div>
            </div>
            
            <!-- Container chat e input message -->
            <div class="box-70 d-flex flex-column">
                <div class="user bg-user">
                    <div class="user-slot d-flex align-items-center">
                        <div class="box-img">
                            <img :src="`img/avatar${contacts[active].avatar}.jpg`" alt="user-img">
                        </div>
                        <div class="user-name">
                            <p>{{contacts[active].name}}</p>
                            <small>Ultimo accesso oggi alle 12.00</small>
                        </div>
                    </div>       
                    <div class="user-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <!-- Container chat e imput-->
                <div class="chat-message d-flex justify-content-center align-items-center"> 
                    <div class="container-chat">
                        <div v-for="(message, index) in contacts[active].messages" :class="{'d-flex justify-content-end' : message.status === 'sent'}">
                            <div v-if="message.status === 'sent'"  class="user-message bg-send-mess justify-content-between align-items-center d-flex">
                                <div>
                                    <p>{{message.message}}</p>
                                </div>
                                <div class="dropdown">
                                    <button class="arrow-menu dropdown-hover"><i class="fa-solid fa-chevron-down"></i></button>
                                    <div class="dropdown-menu">
                                        <a href="#" @click="removeMessage(index)"> Eliminate <i class="fa-solid fa-sack-xmark"></i></a>  <!-- Rimozione messaggio -->
                                    </div>
                                    <small>12.00</small>
                                </div>
                            </div>
                            <div v-else class="bg-white user-message">
                                {{message.message}}
                            </div>
                        </div>
                    </div> 
                </div>

                <!-- bar message -->
                <div class="bar-message d-flex bg-user">
                    <button><i class="fa-regular fa-face-smile"></i></button>
                    <div class="message-text">
                        <form @submit.prevent="insertMessage">
                            <input type="text" v-model="newMessage">
                        </form>
                    </div>
                    <button><i class="fa-solid fa-microphone"></i></button>
                </div>
            </div>
 
        </div>


        <script src="js/scripts.js"></script>
        
    </body>
</html>